@import url('https://fonts.googleapis.com/css?family=Abril+Fatface|Roboto');

body {
    text-align: center;
    font-family: 'Roboto', sans-serif;
    background-image: url('../assets/clarinet.jpg');
    background-size: 100%;
    background-attachment: fixed;
}

main {
    background-color: rgba(255, 255, 255, .9);
    border-radius: 15px;
    padding: 4%;
    margin: 2% auto;
    max-width: 400px;
}

section {
    margin-top: 25px;
}

h1, h2 {
    font-family: 'Abril Fatface', cursive;
}

img {
    display: block;
    margin: 0px auto;
}

#title {
    position: relative;
    height: 100px;
    width: 100%;
}

#title-header {
    position: absolute;
    top: 0%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-shadow: 0px 0px 3px rgb(255, 255, 255);
    z-index: 1;
}

#title-image {
    position: absolute;
    top: 15%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 0;
    opacity: 0.5;
}

