@import url('https://fonts.googleapis.com/css?family=Abril+Fatface|Roboto');

body {
    text-align: center;
    font-family: 'Roboto', sans-serif;
    background-image: url('../assets/clarinet.jpg');
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
}

main {
    background-color: rgba(255, 255, 255, .9);
    border-radius: 15px;
    padding: 4%;
    border: 10px outset silver;
}

section {
    margin-top: 25px;
}

h1 {
    text-shadow:
        3px 3px 0  rgba(255, 255, 255, .9),
      -1px -1px 0  rgba(255, 255, 255, .9)
}

h1, h2 {
    color: rgb(5, 11, 91);
    font-family: 'Abril Fatface', cursive;
}

img {
    display: block;
    margin: 0px auto;
}

button {
    margin-top: 30px;
    font-size: 16px;
}

.note-background {
    background-image: url('../assets/notes.png');
    background-size: 280px 100px;
    background-repeat: no-repeat;
    height: 80px;
    padding-top: 3px;
    width: 280px;
    margin: auto; 
}

button {
    border-radius: 15px;
    padding: 7px;
    cursor: pointer;
}