@import url('https://fonts.googleapis.com/css?family=Abril+Fatface|Roboto');

body {
    text-align: center;
    font-family: 'Roboto', sans-serif;
    background-image: url('../assets/clarinet.jpg');
    background-size: 100%;
    background-attachment: fixed;
}

main {
    background-color: rgba(255, 255, 255, .9);
    border-radius: 15px;
    padding: 4%;
}

section {
    margin-top: 25px;
}

h1, h2 {
    font-family: 'Abril Fatface', cursive;
}

img {
    display: block;
    margin: 0px auto;
}


